<IfModule mod_rewrite.c>
  RewriteEngine on
 
 # Must use RewriteBase on www.student.bth.se, Rewritebase for url /~mara14/test is /~mara14/test/
  #RewriteBase /~mara14/phpmvc/kmom10/webroot/
 
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
 
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>